.main-form {
  border: 2px solid white;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  background-color: #2c3e50; /* Fondo oscuro */
  color: white; /* Texto blanco */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra */
  font-family: 'Arial', sans-serif; /* Tipografía moderna */
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

input {
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #34495e; /* Color de fondo de los inputs */
  color: white;
  transition: border-color 0.3s;
}

input::placeholder {
  color: #bdc3c7; /* Placeholder gris claro */
}

input:focus {
  outline: none;
  border: 2px solid #1abc9c; /* Color de borde al enfocar */
}
.button-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  margin-top: 20px; /* Espacio arriba del botón */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin: 5px 0; /* Espacio entre elementos */
  display: flex; /* Usar flexbox para alinear contenido */
  justify-content: space-around; /* Espaciado entre los elementos */
}

strong {
  color: #333;
}

.no-contacts {
  text-align: center;
  color: #888;
  font-style: italic;
}
